[submodule "vim/.vim/bundle/puppet"]
	path = vim/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/.vim/vim-yaml"]
	path = vim-yaml/.vim
	url = https://github.com/stephpy/vim-yaml.git
[submodule "oh-my-zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/benofbrown/oh-my-zsh.git
[submodule "vim/.vim/bundle/ack.vim"]
	path = vim/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "jinja/.vim"]
	path = jinja/.vim
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/bundle/kotlin-vim"]
	path = vim/.vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "vim/.vim/bundle/vim-hcl"]
	path = vim/.vim/bundle/vim-hcl
	url = https://github.com/b4b4r07/vim-hcl.git
[submodule "vim/.vim/bundle/vimspector"]
	path = vim/.vim/bundle/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "vim/.vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/.vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
